<a href="https://colab.research.google.com/github/andrea-mar/Prog_with_data_Coursework/blob/main/Prog_With_Data_Coursework.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install mysql.connector

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.9/11.9 MB 40.2 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py) ... done
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp39-cp39-linux_x86_64.whl size=247965 sha256=eed4f2514a9d46397620c120a8071a4798ab895b3e09dc36e38017657334c448
  Stored in directory: /root/.cache/pip/wheels/7b/14/39/5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [3]:
import mysql.connector
from mysql.connector import Error

In [4]:

def create_server_connection(host_name, user_name, user_password):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

host = "34.135.23.207" # Add here your host IP address from the GCP
user = "root"
password = "iepure12" # Add here your password

connection = create_server_connection(host, user, password)

MySQL Database connection successful

In [5]:
cursor = connection.cursor()
cursor.execute("SHOW DATABASES;")

for (databases) in cursor:
     print(databases[0])

bytearray(b'fifa_db')
bytearray(b'film_db')
bytearray(b'information_schema')
bytearray(b'movies_db')
bytearray(b'music_db')
bytearray(b'mysql')
bytearray(b'performance_schema')
bytearray(b'sys')
bytearray(b'university_db')

In [6]:
def create_db_connection(host_name, user_name, user_password, db_name):
    connection = None
    try:
        connection = mysql.connector.connect(
            host=host_name,
            user=user_name,
            passwd=user_password,
            database=db_name
        )
        print("MySQL Database connection successful")
    except Error as err:
        print(f"Error: '{err}'")

    return connection

In [7]:
host = "34.135.23.207"
user = "root"
password = "iepure12"  
database = "fifa_db"

connection = create_db_connection(host, user, password,database)

MySQL Database connection successful

In [8]:
cursor = connection.cursor()
cursor.execute("SHOW TABLES;")

for (databases) in cursor:
     print(databases[0])

bytearray(b'games')
bytearray(b'headcoaches')
bytearray(b'players')
bytearray(b'stadiums')
bytearray(b'staff')
bytearray(b'teams')

In [9]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query successful")
    except Error as err:
        print(f"Error: '{err}'")

In [10]:
def read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as err:
        print(f"Error: '{err}'")

4.1 Export data about football players.

In [12]:
def get_player_data1(id):
  query_data_player = """
  SELECT * FROM players WHERE player_id={};
  """
  cursor.execute(query_data_player.format(id))

  result = cursor.fetchall()
  return result[0]


player_id = int(input('Player id: '))
player_data = get_player_data1(player_id)
print(f'{player_data[2]} is {player_data[3]} years old and plays for team (id) {player_data[1]}')

Player id: 2
Steve Fry is 42 years old and plays for team (id) 1

In [13]:
def get_player_data2(id):
  query_data_player = """
  SELECT player_id, player_name, player_age, team_country
  FROM teams, players
  WHERE teams.team_id=players.team_id
  AND player_id={};
  """
  cursor.execute(query_data_player.format(id))

  result = cursor.fetchall()
  return result[0]


player_id = int(input('Player id: '))
player_data = get_player_data2(player_id)
print(f'{player_data[1]} is {player_data[2]} years old and plays for team {player_data[3]}')

Player id: 1
Eric Cartman is 5 years old and plays for team USA

4.2 Export data about head coach managers and their associated teams.

In [14]:
def get_headcoach_data(id):
  query_data_headcoach = """
  SELECT headcoach_id, headcoach_name, headcoach_age, team_country
  FROM teams, headcoaches
  WHERE teams.team_id=headcoaches.team_id
  AND headcoach_id={};
  """
  cursor.execute(query_data_headcoach.format(id))

  result = cursor.fetchall()
  return result[0]


headcoach_id = int(input('Headcoach id: '))
headcoach_data = get_headcoach_data(headcoach_id)
print(f'{headcoach_data[1]} is {headcoach_data[2]} years old and is the headcoach of team {headcoach_data[3]}')

Headcoach id: 2
John Lennon is 24 years old and is the headcoach of team England

4.3 Export data to show the group of each team.

In [15]:
def get_team_group_data(id):
  query_data_team_group = """
  SELECT team_id, team_country, team_group
  FROM teams
  WHERE team_id={};
  """
  cursor.execute(query_data_team_group.format(id))

  result = cursor.fetchall()
  return result[0]


team_id = int(input('team id: '))
team_data = get_team_group_data(team_id)
print(f'{team_data[1]} plays in group {team_data[2]}')

team id: 3
France plays in group B

4.4 Export data to show the football stadium for each team game.

In [16]:
def get_team_game_stadium(id):
  query_data_team_game_stadium = """
  SELECT game_id, team_country, stadium_id
  FROM teams, games
  WHERE teams.team_id=games.team_id
  AND teams.team_id={};
  """
  cursor.execute(query_data_team_game_stadium.format(id))

  result = cursor.fetchall()
  return result[0]


team_id = int(input('team id: '))
team_data = get_team_game_stadium(team_id)
print(f'{team_data[1]} will play on stadium {team_data[2]}')

team id: 1
England will play on stadium 1

4.5 Export data to count how many staff members are in the database per team.

In [17]:
def get_team_staff_count(id):
  query_data_team_staff_count = """
  SELECT team_id,
  COUNT(staff_id) AS team_staff_count
  FROM staff
  WHERE team_id={}
  GROUP BY team_id;
  """
  cursor.execute(query_data_team_staff_count.format(id))

  result = cursor.fetchall()
  return result[0]


team_id = int(input('team id: '))
team_data = get_team_staff_count(team_id)
print(f'Team (id) {team_data[0]} has {team_data[1]} staff members')

team id: 3
Team (id) 3 has 1 staff members


Ask user which table they would like to query

In [21]:
print('Tables: players, headcoaches, groups, stadiums, staff')
query_table = input('Which table do you want to query? ').strip().lower()
list_queries = ['players', 'headcoaches', 'groups', 'stadiums', 'staff']

if query_table not in list_queries:
  print('table not available')

# 4.1 Export data about football players.
elif query_table == 'players':
  player_id = int(input('Player id: '))
  player_data = get_player_data1(player_id)
  print(f'{player_data[2]} is {player_data[3]} years old and plays for team (id) {player_data[1]}')

# 4.2 Export data about head coach managers and their associated teams.
elif query_table == 'headcoaches':
  headcoach_id = int(input('Headcoach id: '))
  headcoach_data = get_headcoach_data(headcoach_id)
  print(f'{headcoach_data[1]} is {headcoach_data[2]} years old and is the headcoach of team {headcoach_data[3]}')

# 4.3 Export data to show the group of each team.
elif query_table == 'groups':
  team_id = int(input('team id: '))
  team_data = get_team_group_data(team_id)
  print(f'{team_data[1]} plays in group {team_data[2]}')

# 4.4 Export data to show the football stadium for each team game.
elif query_table == 'stadiums':
  team_id = int(input('team id: '))
  team_data = get_team_game_stadium(team_id)
  print(f'{team_data[1]} will play on stadium {team_data[2]}')

# 4.5 Export data to count how many staff members are in the database per team.
elif query_table == 'staff':
  team_id = int(input('team id: '))
  team_data = get_team_staff_count(team_id)
  print(f'Team (id) {team_data[0]} has {team_data[1]} staff members')

Tables: players, headcoaches, groups, stadiums, staff
Which table do you want to query? players
Player id: 1
Eric Cartman is 5 years old and plays for team (id) 2